* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Ramabhadra', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
